@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

</div>
<div id="wrapper">
    <div class="isolate">
        <div class="center">
            <div class="main_container full_size container_16 clearfix">
                <div class="box grid_16">
                    <div class="box_head">An Error has Occurred</div>
                    <div class="toggle_container">
                        <div class="section">
                            <p>@Model.Exception.Message</p>
                            
                            <p>If you feel you have reached this page in error, please contact the webmaster @Html.ActionLink("here", "Index", "Contact").</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

<!--
    <hgroup class="title">
        <h1 class="error">Error.</h1>
        <h2 class="error">An error occurred while processing your request.</h2>
    </hgroup>
-->