@{
    ViewBag.Title = "Success";
}

</div>
<div id="wrapper">
    <div class="isolate">
        <div class="center">
            <div class="main_container full_size container_16 clearfix">
                <div class="box grid_16">
                    <h2 class="box_head">Success</h2>
                    <div class="toggle_container">
                        <div class="section">
                            Successfully sent message.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>