@{
    ViewBag.Title = "Success";
}

</div>
<div id="wrapper">
    <div class="isolate">
        <div class="center">
            <div class="main_container full_size container_16 clearfix">
                <div class="box grid_16">
                    <h2 class="box_head">Thank You</h2>
                    <div class="toggle_container">
                        <div class="section">
                            Thank you for your donation. If you are interested in special perks, like a command that only answers to you, or a special command for your room, please let me know via the contact form @{Html.ActionLink("here", "Index", "Contact");}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>