<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Main" connectionString="Server=tunnel.mtgbot.tv;Database=mtgbot_dev;Uid=styles;Pwd=XvyFA7CB262UhcJ9;" providerName="MySql.Data.MysqlClient"/>
  </connectionStrings>
</configuration>